{% extends 'base.html' %}

{% block title %}Shoppy.AboutView{% endblock %}

{% block content %}

    {% for entry in blog_entries %}
        <h2>{{ entry.title }}</h2>
         <p>{{ entry.body }}</p>
    {% endfor %}

{% endblock %}