{% extends "base.html"%}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            Are you sure to delete post {{post.title}}?
        </p>

        <input type="submit", value="Yes, Delete!"/>
        <input type="submit", value="No, Don't Delete!", name="cancel"/>
    </form>

{% endblock %}