{% extends "base.html"%}
{% block content %}

<p>Name: {{product.name}} </p>
<p>Price: {{product.price}}</p>
<p>Category: {{product.category}}</p>
<p>PK: {{product.pk}}</p>
<img style="width: 30%"src="{{product.image}}" alt="">

<a href="{% url 'product_update' product.pk %}"> <button>Edit</button></a>
<a href="{% url 'product_delete' product.pk %}"> <button>Delete Item</button></a>



{% endblock %}
